/**
 * partials/base
 * ---
 * Base classes
 */

h1,h2 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 26.3999996185303px;
	color: $orange;
}
h3 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 15.3999996185303px;
}
p {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}
a, span {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 20px;
}
blockquote {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
pre {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714302062988px;
}


.obxad {
	background-color: grey;
	width: 50%;
	height: 108px;
	text-align: center;
	color: white;
	text-transform: uppercase;
	line-height: 70px;
	display: none;
	@media screen and (min-width: 768px){
		display: block;
	}
	@media screen and (min-width: 1024px){
		width: 33%;
	}
}

main {
	padding: 0 2px;
}

.page-template-page-report-nocam .report {
	#mediaspace_wrapper {
		visibility: hidden;
	}
	.row article {
		position: relative;
		bottom: 434px;
	}
}

.report {
	margin-top: -20px;
	@include media(769px){
		margin-top: 0;
	}
	h2 {
		display: inline-block;
		width: 100%;
		clear: both;
		@include media(1028px){
			width: 60%;
		}
	}
	.report-title {
		display: inline-block;
		width: 100%;
		padding: 0px 0 0 10px;
		position: relative;
		margin: 20px 0 0;
		@include media(769px){
			width: 50%;
			margin: 10px 0;
		}
	}
	.report-subtitles {
		display: none;
		width: 49%;
		text-align: right;
		@include media(769px){
			display: inline-block;
		}
	}
	.report-subtitle {
		text-transform: uppercase;
		color: $blue;
		a {
			color: $blue;
		}
		&.report-subtitle-buoy {
			margin-right: 15px;
		}
	}
	.row {
		@include clearfix;
		padding: 2px;
		iframe {
			display: none;
			@include media(769px){
				display: block;
				@include span-columns(3.79);
				margin-right: -0.5%;
			}
			@include media(1280px){
				@include span-columns(3.935);
				margin-right: 0;
			}
		}
		#widget{
			width: 110%;
			height: 345px;
			overflow-x: scroll;
			margin: -10px -20px -10px -40px;
			#tooltip {
				display: none;
			}
			#mainwidget {
				height: 340px;
			}
			@include media(769px){
				height: 370px;
				@include span-columns(9);
				margin: -30px -30px -30px -40px;
				#mainwidget {
					@include span-columns(12);
					height: 375px;
					margin-bottom: -30px;
				}
			}
			@include media(1028px){
				overflow: hidden !important;
			}
		}
		.obxad-report-long {
			width: 100%;
			display: block;
			@include media(769px){
				@include span-columns(8);
				margin-right: 0.5%;
			}
		}
		.obxad-report-short {
			display: none;
			@include media(769px){
				display: block;
				@include span-columns(4.2);
				margin-right: 0;
				margin-bottom: 7px;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		.obxad-report-post {
			width: 100%;
			float: left;
			margin-bottom: -15px;
		}
		.mobile-only {
			display: block;
			width: 100%;
			@include media(769px){
				display: none;
			}
		}
		#mediaspace_wrapper, .jwplayer {
			width: 100% !important;
			@include media(769px){
				float: left;
				width: 65.9% !important;
				margin-right: 0.5%;
			}
		}
		.subscribe-box {
			width: 100%;
			input {
				width: 50%;
			}
			@include media(769px){
				@include span-columns(4);
				padding: 10px 0 0 10px;
				input {
					width: 65%;
				}
			}
		}
		article {
			background-color: white;
			height: auto;
			width: 100%;
			padding: 5px;
			margin-right: 0.5% !important;
			min-height: 459px;
			margin-bottom: 15px;
			h2 {
				color: black;
				display: block;
				margin: 10px 0;
				@include media(769px){
					display: inline-block;
				}
			}
			.no-report {
				text-align: center;
				margin-top: 100px;
				color: black;
				font-size: 150%;
				line-height: 40px;
			}
			@include media(769px){
				@include span-columns(8);
			}
		}
		.socials {
			float: right;
			clear: both;
			ul {
				right: 5%;
				margin-top: 5px;
			}
		}
		.reporter {
			@include clearfix;
			article {
				@include clearfix;
			}
		}
		.headshot {
			@include span-columns(12);
			float: none;
			height: 240px;
			background-color: grey;
			padding-top: 10px;
			padding-bottom: 10px;
			text-align: center;
			max-width: 165px;
			margin: 0 auto 10px;
			@include media(769px){
				@include span-columns(3);
			}
			img {
				display: block;
				margin: 0 auto;
				width: 55%;
			}
			h3 {
				text-transform: uppercase;
				color: black;
				font-size: 8px;
				line-height: 8px;
				&.author {
					text-transform: capitalize;
				}
			}
			a {
				display: block;
				font-size: 8px;
				line-height: 8px;
				margin-bottom: 8px;
				text-transform: uppercase;
			}
			h3 {
				@include media(769px){
					font-size: initial;
					line-height: initial;
				}
			}
			a {
				@include media(769px){
					font-size: 12px;
				}
			}
		}
		.report-pic {
			@include span-columns(12);
			&.report-pic-second {
				display: none !important;
			}
			@include media(769px){
				@include span-columns(4.53);
				&.report-pic-second {
					display: inline-block !important;
					@include omega;
				}
			}
			background-color: grey;
			padding: 5px;
			padding-top: 2.5%;
			height: 240px;
			margin-right: 2%;
			img {
				display: block;
				margin: 0 auto;
			}
		}
		.subscribe-mobile {
			@include media(769px){
				display: none;
			}
		}
		h5 {
			float: left;
			display: block;
			text-align: right;
			width: 100%;
			color: black;
			text-transform: uppercase;
			-webkit-margin-before: 0;
			-webkit-margin-after: 0;
			padding-right: 15px;
		}
		.post {
			position: relative;
			bottom: 15px;
			h5 {
				display: inline-block;
				@include span-columns(3);
				text-align: left;
			}
			p {
				@include span-columns(12);
				color: black;
			}
		}
		.about {
			@include linear-gradient(to top, #02132f, #052363);
			@include span-columns(12);
			h2 {
				color: white;
			}
			h3 {
				text-align: center;
				color: $gold;
				text-transform: uppercase;
			}
			.report-slider {
				width: 90%;
				margin: 0 auto;
				img {
					margin: 0 auto;
				}
			}
			.surf-break, .nearby {
				padding: 15px;
				@include span-columns(6);
				p {
					line-height: 10px;
					font-size: 10px;
					@include media(769px){
						font-size: 14px;
						line-height: 14px;
					}
				}
			}
			.surf-break {
				border-right: 1px solid white;
				text-align: right;
				h3 {
					text-align: right;
				}
			}
			.nearby {
				padding: 15px 15px 15px 15px;
				@include media(769px){
					padding: 15px 15px 15px 0px;
				}
				margin-left: -10px;
				text-align: left;
				h3 {
					text-align: left;
				}
			}
		}
		.final-ads {
			@include span-columns(12);
			a {
				margin-bottom: 3px;
			}
		}

	}
}

// team page
.team {
	@include clearfix;
	.team-content {
		@include clearfix;
		padding: 15px;
	}
	.team-member {
		@include clearfix;
		@include span-columns(12);
		margin-bottom: 50px;
		.bio-pic {
			@include span-columns(12);
			img {
				display: block;
				margin: 0 auto;
			}
			@include media(769px){
				@include span-columns(2);
			}
		}
		article {
			.header-wrapper {
				position: relative;
			}
			a, h2 {
				-webkit-margin-before: 0;
				display: inline-block;
				font-size: 20px;
			}
			img {
				opacity: 0.3;
			}
			h2 {
				position: relative;
				bottom: 5px;
				left: 5px;
			}
			h3 {
				position: absolute;
				top: 5px;
				left: 45px;
				font-style: italic;
				color: grey;
			}
			p {
				font-size: 12px;
				line-height: 14px;
			}
			@include span-columns(12);
			@include media(769px){
				@include span-columns(10);
			}
		}
	}

}

// category archive page
.category {
	section {
		padding: 0 15px 35px;
	}
	.recent-featured {
		width: 100%;
		max-width: 500px;
		background-color: $grey;
		border: 1px solid $lightgrey;
		margin: 15px auto;
		@include media(1028px){
			@include span-columns(3.85);
			min-height: 180px;
			height: 464px;
		}
		.image-contain {
			height: 295px;
			overflow: hidden;
		}
		img {
			display: block;
			margin: 0 auto;
			height: 92%;
			width: 100%;
		}
		.date-overlay {
			background-color: black;
			p {
				margin: 0;
			}
		}
		h3, p {
			padding: 0 15px;
		}
		h3 {
			border-left: 3px solid $orange;
			margin-left: 15px;
		}
		p {
			color: $lightgrey;
		}
	}
	.mobile-footer {
			@include span-columns(12);
			@include media(1028px){
				display: none;
			}
			img {
				display: block;
				margin: 0 auto 15px;
			}
			ul {
				text-align: center;
				text-transform: uppercase;
				list-style-type: none;
				li {
					margin: 5px 0;
					a  {
						color: $orange;
					}
				}
			}
		}
}

// single blog post
.single {
	.row {
		@include clearfix;
		padding: 15px;
		padding-top: 15px;
		position: relative;
		display: block;
		.socials {
			@include clearfix;
			height: 40px;
			@include span-columns(12);
			@include omega;
			text-align: center;
			ul {
				margin-left: auto;
				margin-right: auto;
				right: 35%;
				@include media(769px){
					right: 40%;
				}
			}
			@include media(1028px){
				@include span-columns(1.8);
				@include omega;
				width: 150px;
				ul {
					right: initial;
				}
			}
		}
		.tags {
			@include span-columns(12);
			small {
				display: block;
				color: $yellow;
				a {
					font-size: 85%;
					color: $yellow;
				}
			}
			@include media(1028px){
				@include span-columns(6);
			}
		}
		.subscribe-desktop {
			@include omega;
			padding-top: 0;
			padding-left: 25px;
			margin-bottom: 0;
			display: none;
			input {
				width: 60%;
			}
			@include media(1028px){
				display: block;
				@include span-columns(4.1);
				@include omega;
				padding-left: 0 !important;
			}
			@include media(1200px){
				@include span-columns(4.4);
				@include omega;
				padding-left: 45px !important;
			}
		}
		.full {
			@include span-columns(9);
			margin-top: -100px;
			min-height: 100px !important;
			display: none !important;
			@include media(1028px){
				display: block !important;
			}
		}
		.obx-mobile-ad {
			@include media(1028px){
				display: none !important;
			}
		}
		.ifyoulike {
			@include clearfix;
			@include media(1028px){
				display: none;
			}
		}
		.single-more {
			display: none;
			clear: none;
			@include media(1028px){
				display: block;
			}
			& > h3 {
				padding: 0;
				border: 0;
				text-indent: 0;
				margin-bottom: 30px;
			}
		}
		.related-blog {
			background-color: $grey;
			@include clearfix;
			@include span-columns(12);
			padding: 15px;
			border-bottom: 1px solid $lightgrey;
			figure {
				margin: 0;
				float: left;
			}
			.blog-info {
				float: left;
				padding-left: 15px;
				h3 {
					font-size: 85%;
					margin: 0;
					&:first-child {
						margin-bottom: 5px;
						font-weight: 100;
					}
				}
			}
		}
		.obx-desktop-ad {
			display: none !important;
			@include media(1028px){
				display: block !important;
				margin-left: 15px;
				float: right;
				width: 34.3% !important;
			}
		}
		.subscribe-mobile {
			padding: 0;
			margin-top: 15px;
			input {
				width: 60%;
			}
		}
		.mobile-footer {
			@include span-columns(12);
			@include media(1028px){
				display: none;
			}
			img {
				display: block;
				margin: 0 auto 15px;
			}
			ul {
				text-align: center;
				text-transform: uppercase;
				list-style-type: none;
				li {
					margin: 5px 0;
					a  {
						color: $orange;
					}
				}
			}
		}
	}
}

// map page
.map {
	@include clearfix;
	padding-bottom: 15px;
	.header-break {
		display: block !important;
		@media screen and (max-width: 1028px){
			span {
				display: block;
				margin-top: 15px;
				color: $blue;
			}
		}
	}
	iframe {
		@include media(1028px){
			width: 66% !important;
			float: left;
		}
	}
	.subscribe-desktop {
		display: none;
		input {
			width: 60%;
		}
		@include media(1028px){
			display: inline-block;
			@include span-columns(4);
			@include omega;
			padding: 0;
			padding-left: 30px;
			float: left;
			position: relative;
			bottom: 55px;
		}
	}
	.recent-list-left {
		.blog-snippet {
			border-bottom: 1px solid $grey;
			margin-bottom: 10px;
			span {
				color: $blue;
				font-size: 80%;
				font-style: italic;
			}
			&:last-child {
				border-bottom: 0;
			}
		}
	}
	.full {
		width: 66% !important;
		display: none !important;
		height: 108px !important;
		@include media(1028px){
			display: inline-block !important;
			margin-top: 10px;
		}
	}
	.sidebar-ads-wrap {
		@include clearfix;
		display: block;
		width: 100%;
		float: right;
		@include media(1028px){
			position: relative;
			bottom: 55px;
			width: 33%;
		}
	}
	.obx-mobile-ad {
			@include media(1028px){
				display: none !important;
			}
		}
		.obx-desktop-ad {
			display: none !important;
			&:nth-child(2){
				margin-bottom: 15px;
			}
			@include media(1028px){
				display: block !important;
				margin-right: 5px;
				float: right;
				clear: right;
				width: 100% !important;
			}
		}
		.subscribe-mobile {
			padding: 0;
			margin-top: 15px;
			margin: 15px auto 0;
			max-width: 400px;
			input {
				width: 60%;
			}
		}
}

// any random page
.page {
	.mobile-footer {
			margin-top: 15px;
			@include span-columns(12);
			@include media(1028px){
				display: none;
			}
			img {
				display: block;
				margin: 0 auto 15px;
			}
			ul {
				text-align: center;
				text-transform: uppercase;
				list-style-type: none;
				li {
					margin: 5px 0;
					a  {
						color: $orange;
					}
				}
			}
		}
}

// subscribe page
.subscribe {
	.stc-subscribe-wrapper {
		width: 66%;
		float: left;
		form {
			& > .checkbox {
				visibility: hidden;
			}
		}
		.stc-categories {
			margin-bottom: 50px;
			.checkbox {
				display: inline-block;
				width: 49%;
				label {
					font-size: 150%;
					font-style: italic;
				}
			}
		}
		#stc-unsubscribe-checkbox {
			visibility: hidden;
		}
		.form-group {
			label {
				position: relative;
				left: -9999px;
			}
			input {
				position: relative;
				left: -105px;
				margin-bottom: 15px;
			}
		}
	}
	#stc-subscribe-btn {
		width: 117px;
		height: 32px;
		background-image: url('img/bg-subscribe.png');
		background-repeat: no-repeat;
		background-size: cover;
		text-transform: uppercase;
		padding-right: 23px;
	}
}

// just a default page
.page-template-default {
	.row {
		padding: 2.5% 5%;
		@include clearfix;
	}
}

//preloader animation
.preloader {
	background-color: black;
	width: 100vw;
	height: 100vh;
	position: fixed;
	z-index: 10000;
}
.quiver {
  position: fixed;
  bottom: 50%;
  left: 50%;
  z-index: 899;
  margin-bottom: -50px;
  margin-left: -50px;
  width: 100px;
  span:nth-child(1) {
	  -moz-animation-delay: 0s;
	  -webkit-animation-delay: 0s;
	  animation-delay: 0s;
	}

	span:nth-child(2) {
	  -moz-animation-delay: 0.1s;
	  -webkit-animation-delay: 0.1s;
	  animation-delay: 0.1s;
	}

	span:nth-child(3) {
	  -moz-animation-delay: 0.2s;
	  -webkit-animation-delay: 0.2s;
	  animation-delay: 0.2s;
	}

	span:nth-child(4) {
	  -moz-animation-delay: 0.3s;
	  -webkit-animation-delay: 0.3s;
	  animation-delay: 0.3s;
	}

	span:nth-child(5) {
	  -moz-animation-delay: 0.4s;
	  -webkit-animation-delay: 0.4s;
	  animation-delay: 0.4s;
	}
	.arrows {
	  -moz-animation: equalizor cubic-bezier(0.77, 0, 0.175, 1) 0.5s alternate-reverse infinite;
	  -webkit-animation: equalizor cubic-bezier(0.77, 0, 0.175, 1) 0.5s alternate-reverse infinite;
	  animation: equalizor cubic-bezier(0.77, 0, 0.175, 1) 0.5s alternate-reverse infinite;
	  vertical-align: baseline;
	  display: inline-block;
	  width: 0;
	  height: 0;
	  border-style: solid;
	  border-width: 0 10px 1px 10px;
	  border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) #0B486B rgba(255, 255, 255, 0);
	}
	* {
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
}

.st {
  border-bottom-color: #0B486B;
}

.nd {
  border-bottom-color: #3B8686;
}

.rd {
  border-bottom-color: #79BD9A;
}

.th {
  border-bottom-color: #A8DBA8;
}

.fth {
  border-bottom-color: #CFF09E;
}

@-moz-keyframes equalizor {
  from {
    border-bottom-width: 60px;
  }
  to {
    border-bottom-width: 1px;
  }
}
@-webkit-keyframes equalizor {
  from {
    border-bottom-width: 60px;
  }
  to {
    border-bottom-width: 1px;
  }
}
@keyframes equalizor {
  from {
    border-bottom-width: 60px;
  }
  to {
    border-bottom-width: 1px;
  }
}

.loading {
  display: block;
  text-transform: uppercase;
  color: $orange;
}

.android_fallback {
	padding: 25px 15px 0;
	position: absolute;
	top: 35px; 
}



