/**
 * partials/footer
 * ---
 */

footer {
	.footer-desktop {
		display: none;
		margin-top: 15px;
		@include clearfix;
		background-color: $darkblue;
		padding: 15px;
		padding-left: 35px;
		padding-bottom: 50px;
		div {
			@include span-columns(2);
			h3 {
				color: $gold;
				text-shadow: 1px 1px black;
			}
			ul {
				list-style-type: none;
				-webkit-padding-start: 0;
			}
			img {
				padding-top: 40px;
			}
			&:last-child {
				margin-left: 2.5%;
				@include span-columns(3.2);
			}
		}
		@include media(1024px){
			display: block;
		}
	}
}

.mobile-footer {
	background-color: black;
	padding: 2.5%;
}
