/**
 * partials/frontpage
 * ---
 * Front page styles
 */

.before-content {
	clear: both;
	width: 100%;
}

.mosaic-top {
	height: 700px;
}

.vid-info {
	display: none;
 	width: 100%;
 	float: left;
 	position: relative;
 	&.cloned {
 		display: block;
 		@media screen and (min-width: 1024px){
 			display: none;
 		}
 	}
 	@media screen and (min-width: 1024px){
 		display: block;
 		width: 33%;
 	}
 	div {
 		float: left;
 		padding: 5px;
 		span {
 			display: block;
 			font-size: 11px;
 				@media screen and (min-width: 1024px){
 					font-size: 14px;
 				}
 			&.vid-title {
 				font-size: 8px;
 				text-transform: uppercase;
 				margin-bottom: -5px;
 				@media screen and (min-width: 1024px){
 					font-size: 10px;
 				}
 			}
 			&.vid-location {
 				color: $orange;
 			}
 		}
 		&.wind {
 			width: 45%;
 		}
 		&.location {
 			width: 35%;
 		}
 		&.last {
 			img {
 				float: left;
 				width: 50%;
 			}
 			text-align: right;
 			width: 20%;
 		}
 	}
 }

 .slider {
 	width: 100%;
 	clear: both;
 	display: inline-block !important;
 	@media screen and (min-width: 1024px){
 		width: 63.8%;
 		float: left;
 	}
 	img {
 		width: 100%;
 	}
 	.slider-container {
 		position: relative;
 	}
 	.slider-overlay {
 		background-color: $bluefade;
 		height: 100px;
 		width: 100%;
 		position: absolute;
 		bottom: 0;
 		padding-left: 50px;
 		padding-top: 10px;
 	}
 }

 .weather-wrapper {
 	display: none;
 	width: 100%;
 	position: relative;
 	top: 210px;
 	@media screen and (min-width: 1024px){
 		width: 35.6%;
 		display: inline-block !important;
 		left: 5px;
 	}
 	.aw-widget-36hour-inner {
 		min-width: 100% !important;
 	}
 }

 .aw-fc-status, .aw-six-hours, .aw-more-block, .aw-more-sep-2, .aw-more-sep-3, .aw-more-sep-4 {
 	display: none;
 }

// mosaic bottom
.mosaic-bottom {
	background-color: black;
}

.latest-posts {
	background-color: black;
	padding-left: 15px;
}


 .recent-featured-left, .recent-featured-right {
 	width: 50%;
 	float: left;
 	.image-contain {
 		position: relative;
 		.date-overlay {
 			position: absolute;
 			bottom: 0;
 			height: 20px;
 			background-color: black;
 			color: white;
 			width: 100%;
 			p {
 				padding: 0;
 				margin: 0;
 			}
 		}
 	}
 }


