/**
 * partials/frontpage
 * ---
 * Front page styles
 */

.before-content {
	clear: both;
	width: 100%;
}

.mosaic-top {
	height: 650px;
}

.vid-info {
	display: none;
 	width: 100%;
 	float: left;
 	position: relative;
 	&.cloned {
 		display: block;
 		@media screen and (min-width: 1024px){
 			display: none;
 		}
 	}
 	@media screen and (min-width: 1024px){
 		display: block;
 		width: 33%;
 	}
 	div {
 		float: left;
 		padding: 5px;
 		span {
 			display: block;
 			font-size: 11px;
 				@media screen and (min-width: 1024px){
 					font-size: 14px;
 				}
 			&.vid-title {
 				font-size: 8px;
 				text-transform: uppercase;
 				margin-bottom: -5px;
 				@media screen and (min-width: 1024px){
 					font-size: 10px;
 				}
 			}
 			&.vid-location {
 				color: $orange;
 			}
 		}
 		&.wind {
 			width: 50%;
 			position: relative;
 			left: 30px;
 		}
 		&.location {
 			width: 25%;
 		}
 		&.last {
 			img {
 				float: left;
 				width: 50%;
 				max-width: 40px;
 			}
 			position: relative;
 			left: 0px;
 			text-align: right;
 			width: 24%;
 			@include media(769px){
 				left: 30px;
 			}
 		}
 	}
 }

 .slider {
 	width: 100%;
 	clear: both;
 	display: inline-block !important;
 	@media screen and (min-width: 1024px){
 		width: 63.8%;
 		float: left;
 	}
 	h2 {
 		color: white;
 	}
 	img {
 		width: 100%;
 	}
 	.slider-container {
 		position: relative;
 	}
 	.slider-overlay {
 		background-color: $bluefade;
 		height: 100px;
 		width: 100%;
 		position: absolute;
 		bottom: 0;
 		padding-left: 50px;
 		padding-top: 10px;
 	}
 }

 .weather-wrapper {
 	display: none;
 	width: 100%;
 	position: relative;
 	top: 220px;
 	@media screen and (min-width: 1024px){
 		width: 35.6%;
 		display: inline-block !important;
 		left: 5px;
 	}
 	.aw-widget-36hour-inner {
 		min-width: 100% !important;
 	}
 }

 .aw-fc-status, .aw-six-hours, .aw-more-block, .aw-more-sep-2, .aw-more-sep-3, .aw-more-sep-4 {
 	display: none;
 }

// mosaic bottom
.mosaic-bottom {
	background-color: black;
	margin-top: 5%;
	margin-bottom: 10%;
	@media screen and (min-width: 430px){
		margin-top: 15%;
	}
	@media screen and (min-width: 530px){
		margin-top: 25%;
	}
	@media screen and (min-width: 630px){
		margin-top: 35%;
	}
	@media screen and (min-width: 900px){
		margin-top: 45%;
	}
	@media screen and (min-width: 1024px){
		margin-top: 0px;
	}
	.surf-map {
		height: 250px !important;
		@include media(1028px){
			height: 500px !important;
		}
	}
}

.latest-posts {
	background-color: $grey;
	padding-left: 15px;
	padding-bottom: 15px;
	&.top-posts {
		margin-top: -64px;
	}
	h3 {
		padding: 5px 0;
		padding-left: 1em;
		border-left: 4px solid $orange;
	}
	.sub-list {
		width: 80%;
		@media screen and (min-width: 768px){
			width: 40%;
		}
		&.recent-list-left {
			float: left;
			clear: both;
			margin-right: 10%;
		}
		&.recent-list-right {
			display: none;
			float: left;
			@media screen and (min-width: 768px){
				display: block;
			}
		}
		.blog-snippet {
			width: 100%;
			height: auto;
			@include clearfix;
			border-top: 1px solid $lightgrey;
			&:last-child {
				border-bottom: 1px solid $lightgrey;
			}
			.blog-image {
				float: left;
				clear: left;
				padding: 15px 0 9px;
			}
			.blog-content {
				padding-left: 15px;
				padding: 10px 0 20px 80px;
				width: 100%;
				@media screen and (min-width: 768px){
					float: left;
					width: 79%;
					padding: 10px 0 20px 15px;
				}
				@media screen and (min-width: 1024px){
					width: 75%;
				}
				@media screen and (min-width: 1175px){
					width: 79%;
				}
				span {
					text-transform: uppercase;
					color: $lightgrey;
				}
				h3 {
					border-left: 0px;
					text-indent: 0em;
					padding: 0;
					padding-top: 5px;
					margin: 0;
				}
			}
		}

	}

}


 .recent-featured-left, .recent-featured-right {
 	width: 100%;
 	float: left;
 	@media screen and (min-width: 768px){
 		width: 50%;
 	}
 	.image-contain {
 		height: 188px;
 		overflow: hidden;
 	}
 	.image-contain, p {
 		position: relative;
 		width: 80%;
 		img {
 			width: 100%;
 			height: auto;
 		}
 		.date-overlay {
 			position: absolute;
 			bottom: -1px;
 			height: 20px;
 			background-color: $grey;
 			color: white;
 			width: 100%;
 			p {
 				padding: 0;
 				margin: 0;
 			}
 		}
 	}
 }

 .recent-featured-right {
 	display: none;
 	@media screen and (min-width: 768px){
 		display: block;
 	}
 }

 .subscribe-box {
 	padding-top: 45px;
 	padding-left: 5%;
 	margin-bottom: 15px;
 	img {
 		float: left;
 		padding-right: 15px;
 		max-width: 50%;
 	}
 	p {
 		display: inline-block;
 		width: 45%;
 		text-transform: uppercase;
 		color: $orange;
 		font-weight: bold;
 		font-size: 10px;
 		line-height: 1.333;
 		margin-top: 0;
 	}
 	button {
 		background-image: url('img/bg-subscribe.png');
		background-repeat: no-repeat;
		background-size: cover;
		width: 117px;
		height: 32px;
		padding-right: 25px;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 0.75em;
		font-family: "Verdana", sans-serif;
 	}
 }

 .subscribe-desktop {
 	display: none;
 	@include media(1024px){
 		display: block;
 	}
 }

 .subscribe-mobile {
 	@include media(1024px){
 		display: none;
 	}
 }

 .header-break {
 	display: none;
 	@include media(1024px){
		display: block;
		color: white;
		span {
			text-align: right;
			font-size: 10px;
			margin-left: 30px;
			color: $blue;
		}
 	}
 }

 .partners {
 	display: none;
 	@include media(1024px){
 		display: block;
 	}
 }

 .home {
 	.mobile-footer {
			@include span-columns(12);
			@include media(1028px){
				display: none;
			}
			img {
				display: block;
				margin: 0 auto 15px;
			}
			ul {
				text-align: center;
				text-transform: uppercase;
				list-style-type: none;
				li {
					margin: 5px 0;
					a  {
						color: $orange;
					}
				}
			}
		}
 }

 // little reset
 #surfingdata {
	width: 580px !important;
	height: 285px;
	background-color: #27355C;
	padding: 10px;
	color: #666666 !important;
 }

 .wrapper #surfingdata {
 	display: none;
 }


