/**
 * partials/header
 * ---
 */


// Header container
.header {
	height: auto;
	padding-top: 15px;
	margin-bottom: 10px;
	.header-container {
		float: left;
	}
	.socials {
		display: none;
		position: relative;
		@media screen and (min-width: 1024px){
			display: block;
			width: 33%;
		}
		ul {
			list-style-type: none;
			position: absolute;
			top: 0;
			right: 45%;
			li {
				float: left;
				a {
					display: block;
					width: 31px;
					height: 31px;
					margin: 0px 2.5px;
					background-image: url("img/sprite-social.png");
					background-position: -10px -12px;
					&.fb:hover {
						background-position: -10px 44px;
					}
					&.twit {
						background-position: -42px -12px;
						&:hover {
							background-position: -42px 44px;
						}
					}
					&.rss {
						background-position: -74px -12px;
						&:hover {
							background-position: -74px 44px;
						}
					}
					&.ig {
						background-position: -106px -12px;
						&:hover {
							background-position: -106px 44px;
						}
					}
				}
			}
		}
	}
	.subscribe {
		display: none;
		position: absolute;
		top: 0;
		right: 35px;
		width: 117px;
		height: 32px;
		background-image: url('img/bg-subscribe.png');
		background-repeat: no-repeat;
		background-size: cover;
		span {
			position: absolute;			
			color: white;
			text-transform: uppercase;
			top: 7px;
			left: 14px;
			font-size: 0.75em;
		}
		@media screen and (min-width: 1024px){
			display:block;
		}
	}
}

// Logo
.logo {
	h1 {
		margin: 0;
		line-height: 0;
		-webkit-margin-before: 0em;
		-webkit-margin-after: 0em;
	}
	width: 100%;
	@media screen and (min-width: 768px){
		width: 50%;
	}
	@media screen and (min-width: 1024px){
		width: 33%;
	}
	img {
		margin: 0 auto;
		display: block;
	}
}

.obx-ad.header-container {
	margin-bottom: 10px;
}


