/**
 * partials/nav
 * ---
 * Menus
 */


.nav {
	display: block;
	width: 100%;
	clear: both;
	h2 {
		color: white;
	}
	&.mobile {
		@media screen and (min-width: 1024px){
			display: none;
		}
	}
	&.desktop {
		display: none;
		@media screen and (min-width: 1024px){
			display: block;
		}
	}
}

.nav-trigger {
	position: relative;
	width: 100%;
	height: 50px;
	background: #3768b9; /* Old browsers */
	background: -moz-linear-gradient(top, #3768b9 0%, #3160ae 44%, #143f83 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3768b9), color-stop(44%,#3160ae), color-stop(100%,#143f83)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #3768b9 0%,#3160ae 44%,#143f83 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #3768b9 0%,#3160ae 44%,#143f83 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #3768b9 0%,#3160ae 44%,#143f83 100%); /* IE10+ */
	background: linear-gradient(to bottom, #3768b9 0%,#3160ae 44%,#143f83 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3768b9', endColorstr='#143f83',GradientType=0 ); /* IE6-9 */
	&:hover {
		cursor: pointer;
	}
	.words {
		position: absolute;
		left: 20px;
		top: 10px;
		text-transform: uppercase;
		-webkit-margin-before: 0em;
		-webkit-margin-after: 0em;
	}
	.hamburger {
		position: absolute;
		right: 20px;
		top: 10px;
	}
}

.mobile-overlay {
	display: none;
	position: absolute;
	z-index: 100;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: $bluefade;
	text-align: center;
	padding-top: 30%;
	ul {
		list-style-type: none;
		-webkit-margin-before: 0;
		-webkit-margin-after: 0;
		-webkit-padding-start: 0;
	}
	li, span {
		padding: 1% 0;
		text-transform: uppercase;
		font-size: 2em;
	}
	@media screen and (min-width: 1024px){
		margin: 0 -15px;
	}
}

nav.desktop {
	width: 66%;
	ul {
		list-style-type: none;
		-webkit-padding-start: 0em;
		li {
			margin: 1px;
			padding-top: 9px;
			float: left;
			width: 24%;
			height: 40px;
			text-align: center;
			border-top: 3px solid black;
			background: #45484d; /* Old browsers */
			background: -moz-linear-gradient(top,  #45484d 0%, #1c1c1c 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#1c1c1c)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #45484d 0%,#1c1c1c 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #45484d 0%,#1c1c1c 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #45484d 0%,#1c1c1c 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #45484d 0%,#1c1c1c 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#1c1c1c',GsradientType=0 ); /* IE6-9 */
			&.current_page_item, &.current_page_ancestor {
				& > a {
					color: $orange;
				}
			}
			a {
				&:hover {
					color: $orange;
					text-decoration: none;
				}
			}
		}
	}
	.sub-menu {
		display: none;
		margin-top: 10px;
		li {
			float: none;
			display: block;
			position: relative;
			right: 4px;
			width: 105%;
			z-index: 10;
			height: 50px;
			padding-top: 13px;
			margin: 0;
			border: 2px solid black;
			a {
				font-size: 12px;
			}
		}
	}
}

