/**
 * partials/reset
 * ---
 * Reset file
 * NOTE: also `normalize.css` is used
 */

 /* Reset `button` and button-style `input` default styles */
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    background: none;
    border: 0;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
       -moz-user-select: none;
        -ms-user-select: none;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}


// Global box-sizing
*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  // `font-size` for REM use
  font-size: 62.5%;
  // Cancel hightlight color when tapping in iOS
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $body-bg;
  background-image: url("img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

section {
  @include clearfix;
}

ul {
  padding-left: 0;
}

h2 {
  padding-left: 5px;
}

img {
  // Don't allow <IMG> to be larger then its container
  max-width: 100%;
  // Omit space caused by default style, between images lines
  vertical-align: middle;
}

a {
  color: $text-color;
  text-decoration: none;

  &:focus,
  &:hover {
    text-decoration: underline;
  }

  &:active {}
}

ul {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

input[type="text"],
input[type="search"] {
  font-size: inherit;
  line-height: inherit;
  color: black !important;
}

// Text selection
::selection {
  background-color: $selection-bg;
  color: $body-bg;
  text-shadow: none;
}

//// Custom resets

// slick slider resets
.slick-slider {
  margin-bottom: 5px !important;
}

.slick-next, .slick-prev {
  width: 36px !important;
  height: 67px !important;
  top: 33% !important;
}

.slick-next {
  right: -25px !important;
  @include media(769px){
    right: -45px !important;
  }
}

.slick-prev {
  left: -25px !important;
  @include media(769px){
    left: -45px !important;
  }
}

.slick-next:before {
  content: url('img/nextarrow.png') !important;
}

.slick-prev:before {
  content: url('img/prevarrow.png') !important;
}

.home #mediaspace {
  position: relative;
  min-height: 60px;
}

.report #mediaspace {
  position: relative;
  min-height: 230px;
}

.home #mediaspace_wrapper, .home .jwplayer {
  display: inline-block !important;
  position: absolute !important;
  width: 96% !important;
  margin-top: 50px;
  @media screen and (min-width: 1024px){
    margin-top: 0px;
    width: 34.5% !important;
    margin-left: 5px;
    margin-top: 0px;
  }
}

.page-template-page-report #mediaspace_wrapper {
  height: 440px !important;
}

.home .jwplayer {
  display: block !important;
  margin-top: 50px;
  @media screen and (min-width: 1024px){
    display: inline-block !important;
    margin-top: 40px !important;
    float: left;
  }
}


.slick-dots {
  bottom: 80px !important;
  li {
    margin: 0 17px !important;
    &.slick-active {
      button:before {
        background-color: $orange !important;
        opacity: 1;
      }
    }
  }
  button:before {
    content: "" !important;
    background-color: black;
    width: 50px !important;
    height: 10px !important;
  }
}

// firefox only fixes...
@-moz-document url-prefix() { 
  nav.desktop li {
     margin-left: -40px;
     width: 25%;
  }
  .slick-dots {
    bottom: 60px !important;
  }
}

