/**
 * partials/utils
 * ---
 * Utils classes
 */


// clearfix: http://nicolasgallagher.com/micro-clearfix-hack/
.clear {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

.reset-box {
  @include reset-box;
}

.before-content {
	@include clearfix;
}

.full {
	position: relative;
	width: 100% !important;
	height:204px !important;
	display: inline-block !important;
	margin-top: 215px;
	@media screen and (min-width: 1024px){
		margin-top: 0px;
		min-height: 160px !important;
		height: 25% !important;
		width: 63.9% !important;
		top: -3%;
	}
	@media screen and (min-width: 1200px){
		top: 0%;
	}
}

.desktop-main {
	width: 100%;
	float: left;
	@media screen and (min-width: 1024px){
		width: 64%;
	}
}

.desktop-secondary {
	width: 100%;
	background-color: black;
	clear: both;
	@media screen and (min-width: 1024px){
		width: 36%;
		float: right;
		clear: none;
	}
}

// Google Map Related
#map_canvas {
  height: 558px;
  width: 98%;
  margin: 0 auto;
  display: none;
  @media screen and (min-width: 1024px){
  	display: block;
  }
}

#map_canvas img { 
  max-width: none; // to prevent UI control bug
}

#map_canvas .content {
  padding: 0 0.5em 1em 0.5em;
}

#map_canvas .firstHeading {
  font-size: 1em;
  line-height: 1em;
  font-weight: bold;
  margin: 0;
}

#map_canvas #bodyContent p {
  font-size: 1em;
  margin: 0;
}

.local-and-travel {
	display: none;
	@media screen and (min-width: 1024px){
		display: block;
	}
}

.obx-sidebar-ad {
	display: block !important;
	width: 98% !important;
	margin: 5px auto;
	max-width: 420px;
}

.subscribe-box {
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
	input {
		width: 65%;
	}
	h3 {
		text-transform: uppercase;
		color: $orange;
	}
}


